body{
	margin:0px;
	width: 100%;
	background: url(guru_background.gif) no-repeat center center fixed;
	background-size: cover;
	overflow: hidden;

	
}
a{
	text-decoration: none;
}

/* Navigation Bar */
			.nav_bar{
				position: fixed;
				background-color: #fff;
				opacity: 0.9;
				width: 100%;
				box-shadow: 5px 3px 2px #E3E3E3;

			}
			.nav_tabs a,h1{
				display: inline-block;
				color:#000;
				float: left;
			}
			.nav_tabs a{
				margin-top: 3%;
				margin-left: 5%;
				color:#55AAFF;
			    text-decoration:none;
				font-family: 'Righteous', cursive;
				text-transform: uppercase;


			}
			.nav_tabs h1{
				margin-left: 20px;
				margin-right: 15%;
		    	font-family: 'Sacramento', cursive;
		    	font-size: 35px;
			}

	.pdf{
		position: fixed;
		margin-right: 55px;
		margin-bottom: 20px;
		right: 0;
		bottom: 0;
		text-align: center;
		cursor: pointer;
		
		text-decoration: none;
	}
	.pdf a:link, a:visited{
		color:#A15FD9;
	}
	
	.pdf a:hover{
		color:#FCDB00;

	}

/* End of NAvigation bar */

		.container{
			width: 100%;
			padding-top: 12%;
			padding-bottom: 10%;
			margin: auto;
			display: relative;


		}
/* Général Information */
			.my_picture{
				display: inline-block;
				float: left;
				width: 100%;
				margin-left: 15%;
				margin-top: 20px;
				margin-bottom: 20px;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: -webkit-box;
				display: flex;
				-webkit-transform: scale(0);
				        -ms-transform: scale(0);
				    transform: scale(0);
				    -webkit-box-align: center;
				    -webkit-align-items: center;
				        -ms-flex-align: center;
				            align-items: center;

			}

			.formation{
				display: inline-block;
				
			}

			.my_picture img{
				margin:1% 1% 7% 1%;
				border-radius: 50%;
				width: 25%;
				height: 25%;
				vertical-align:middle;
				box-shadow: 0px 1px 5px #000;
					}

			.information ul li{
				margin: 10%;
				font-family:  'arvo', serif;
				font-size: 19px;
				
			
			}




/* End of Général Info */


/* Formation */
		.formation{
			margin-left: 10%;
			margin-bottom: 90px;
			-webkit-transform: scale(0);
			        -ms-transform: scale(0);
			    transform: scale(0);
		}	


		.formation ul li{
			margin: 4%;
			font-family:  'arvo', serif;
			font-size: 19px;
		}

/* End of Formation */

/*Réalisation*/
		#real1{
			display: -ms-flexbox;
			display: -webkit-flex;
			display: -webkit-box;
			display: flex;
			-ms-flex-direction: column;
			-webkit-flex-direction: column;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			        flex-direction: column;
			width: 40%;
		}

		#real1 p{
			font-size:19px;
		}
		.réalisations{
				
				font-family:  'arvo', serif;
				font-size: 13px;
				width: 100%;
				margin-left: 6%;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: -webkit-box;
				display: flex;
				-ms-flex-align: center;
				    -webkit-align-items: center;
				    -webkit-box-align: center;
				        align-items: center;
				-ms-flex-direction: row;
				-webkit-flex-direction: row;
				-webkit-box-orient: horizontal;
				-webkit-box-direction: normal;
				        flex-direction: row;
				margin-top: -20px;
				-webkit-transform: scale(0);
				        -ms-transform: scale(0);
				    transform: scale(0);
				
			}
		.réalisations img{
				border-radius: 50%;
				width: 35%;
				box-shadow: 0px 1px 5px #000;
			}

		#real1 a {
		    color:#D4FFFF;
			text-decoration:none;
			font-size:15px;
		}
		#real1 ul li{
			list-style-type: square;
			font-family:  'arvo', serif;
			font-size: 19px;
		}

		#real2{
			width: 60%;
		}

		#real2 ul li{
				margin: 4%;
				font-family:  'arvo', serif;
				font-size: 19px;
			}

/*End of Réalisation*/

/*CCI section*/

		.CCI{
			display: -ms-flexbox;
			display: -webkit-flex;
			display: -webkit-box;
			display: flex;
			-ms-flex-direction: row;
			-webkit-flex-direction: row;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			        flex-direction: row;
			margin-left: 10%;
			-webkit-transform: scale(0);
			        -ms-transform: scale(0);
			    transform: scale(0);

		}
		.scale{
			-webkit-transition:all 2s ease;
			transition: all 2s ease;
			-webkit-transform: scale(1);
			        -ms-transform: scale(1);
			    transform: scale(1);
		}
		.shrink{
			-webkit-transition:all 2s ease;
			transition: all 2s ease;
			-webkit-transform: scale(0);
			        -ms-transform: scale(0);
			    transform: scale(0);
		}
		#CII ul li{
				margin: 1%;
				font-family:  'arvo', serif;
				font-size: 19px;
			}
		#CI ul li{
				margin: 4%;
				font-family:  'arvo', serif;
				font-size: 19px;
			}


/*End of CCI section*/
